.pageRelative {
  position: relative;
}

.oneCarPage {
  padding-top: 10px;
}

.carPhoto {
  width: 200px;
  height: 150px;
  margin: 0 auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 250px;
    height: 200px;
  }

  @media screen and (min-width: 1200px) {
    width: 300px;
    height: 250px;
  }
}

.mainCarInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.iconFavorite {
  width: 25px;
  height: 25px;
  color: #808080;
}

.iconDelete {
  width: 20px;
  height: 20px;
  color: #808080;
}

.favoriteSelected {
  color: #ff0000;
}

.iconFavorite:hover,
.iconDelete:hover,
.iconFavorite:focus,
.iconDelete:focus {
  cursor: pointer;
}

.carLink {
  border: 1px solid blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 300px;
  font-size: 0;
}

.detailInfo {
  display: flex;
  flex-wrap: wrap;
}

.detailInfo p:not(:last-child) {
  flex-basis: calc((100% - 10px) / 2);
}

.detailInfo p:last-child {
  width: 100%;
  border: 1px solid red;
  margin-top: 10px;
}

.description {
  height: 80px;
  overflow-y: auto;
}

.errorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorMessage {
  font-size: 20px;
  font-weight: 500;
  color: var(--error-color);
}

.linkGoBack {
  position: absolute;
  left: 0px;
  top: 5px;
  text-decoration: none;
  color: var(--default-color);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.linkGoBack:hover {
  color: #008000;
  cursor: pointer;
}

.backIcon {
  margin-right: 0px;
  padding-top: 3px;
  width: 23px;
  height: 23px;
  padding-right: 5px;
  margin-right: -5px;
}

.notImageIcon {
  width: 100%;
  height: 300px;
  color: #808080;
}
