.oneCarPage {
  padding-top: 10px;
  height: 100vh;
}

.carPhoto {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.mainCarInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.iconFavorite {
  width: 25px;
  height: 25px;
}

.favoriteSelected {
  color: red;
}

.iconFavorite:hover,
.iconFavorite:focus {
  cursor: pointer;
}

.carLink {
  border: 1px solid blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 300px;
  font-size: 0;
}

.detailInfo {
  display: flex;
  flex-wrap: wrap;
}

.detailInfo p:not(:last-child) {
  flex-basis: calc((100% - 10px) / 2);
}

.detailInfo p:last-child {
  width: 100%;
  border: 1px solid red;
  margin-top: 10px;
}

.description {
  height: 80px;
  overflow-y: auto;
}
