.oneCarPage {
  padding-top: 10px;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(34, 145, 195, 0.8883928571428571) 17%,
    rgba(113, 190, 174, 0.5634628851540616) 58%,
    rgba(115, 253, 45, 0.6839110644257703) 70%
  );
}

.carPhoto {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.mainCarInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.iconFavorite {
  width: 25px;
  height: 25px;
  color: grey;
}

.iconDelete {
  width: 20px;
  height: 20px;
  color: grey;
}

.favoriteSelected {
  color: red;
}

.iconFavorite:hover,
.iconDelete:hover,
.iconFavorite:focus,
.iconDelete:focus {
  cursor: pointer;
}

.carLink {
  border: 1px solid blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 300px;
  font-size: 0;
}

.detailInfo {
  display: flex;
  flex-wrap: wrap;
}

.detailInfo p:not(:last-child) {
  flex-basis: calc((100% - 10px) / 2);
}

.detailInfo p:last-child {
  width: 100%;
  border: 1px solid red;
  margin-top: 10px;
}

.description {
  height: 80px;
  overflow-y: auto;
}

.errorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorMessage {
  font-size: 20px;
  font-weight: 500;
  color: red;
}
