.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 20px;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--default-interval);
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: var(--default-color);

  @media screen and (min-width: 768px) {
    font-size: var(--middle-font-size);
  }
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonHide {
  position: absolute;
  top: 20px;
  right: 5px;

  @media screen and (min-width: 768px) {
    top: 23px;
    right: 5px;
  }
}

.buttonHide:hover {
  cursor: pointer;
}

.question {
  font-size: var(--min-font-size);
  text-align: center;
  color: var(--default-color);

  @media screen and (min-width: 768px) {
    font-size: var(--middle-font-size);
  }
}

.errorValidation {
  color: red;
}
