button {
  cursor: pointer;
  font-size: var(--min-font-size);
  border: 2px solid var(--default-color);
  background-color: aliceblue;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    font-size: var(--middle-font-size);
  }
}

button:hover,
button:focus {
  background-color: darkgreen;
  color: yellow;
  border: 2px solid red;
  outline: none;
}

.back {
  margin-right: 10px;
}

.sortCars,
.filterCars {
  font-size: var(--middle-font-size);
  padding: 2px 2px 2px 2px;

  @media screen and (min-width: 768px) {
    font-size: var(--middle-font-size);
  }
}

.filterCars {
  margin-right: 10px;
}

.buttonSignIn {
  margin-right: var(--default-interval);
}

.buttonSignUp {
  margin-right: var(--default-interval);
}

.buttonLogOut {
  margin-right: var(--default-interval);
}

.buttonQuestionSign {
  color: var(--default-color);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
}

.buttonQuestionSign:hover,
.buttonQuestionSign:focus {
  border: none;
  background-color: transparent;
  color: purple;
}
