button {
  cursor: pointer;
  border: 2px solid var(--default-color);
  background-color: aliceblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
  }
}

button:hover,
button:focus {
  background-color: darkgreen;
  color: var(--default-color);
  border: 2px solid red;
  outline: none;
}

.back {
  margin-right: 10px;
}

.sortCars,
.filterCars {
  padding: 2px 2px 2px 2px;
}

.filterCars,
.resetFilter {
  margin-right: 10px;
}

.buttonSignIn {
  margin-right: var(--default-interval);
}

.buttonSignUp {
  margin-right: var(--default-interval);
  margin-right: 0;
}

.buttonLogOut {
  margin-right: var(--default-interval);
}

.buttonQuestionSign {
  color: var(--default-color);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
}

.buttonQuestionSign:hover,
.buttonQuestionSign:focus {
  border: none;
  background-color: transparent;
  color: purple;
}
.goToHome {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.logOutIcon {
  margin-left: 5px;
}

.cancel {
  margin-right: 30px;
}
