.carsPage {
  height: 100vh;
  min-height: 480px;
  /* background-image: url(../../images/cards-page-bg-mobile.jpg);
  background-size: cover; */
  padding-top: var(--default-interval);
  padding-bottom: var(--default-interval);
}

.carList {
  list-style: none;
}

.errorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorMessage {
  font-size: 20px;
  font-weight: 500;
  color: red;
}
