.animation {
  position: absolute;
  height: 100px;
  width: 70px;
  border-radius: 10px;
  animation-duration: 10000ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.animation30 {
  animation-name: place30;
}

.animation60 {
  animation-name: place60;
}

.animation90 {
  animation-name: place90;
}

@keyframes place30 {
  0% {
    top: 0%;
    left: 10%;
    background-image: url(../../images/shirt.jpg);
    background-size: cover;
    border: none;
  }

  33% {
    top: 79%;
    left: 33%;
    rotate: 1 2 1 180deg;
    background-color: yellow;
    border: 2px solid green;
    background-image: url(../../images/bg30.jpg);
  }

  66% {
    top: 0%;
    left: 66%;
    rotate: 0 0 0 180deg;
    background-image: url(../../images/shirt.jpg);
    background-size: cover;
    border: none;
  }

  100% {
    top: 79%;
    left: 75%;
    rotate: 1 2 1 180deg;
    background-image: url(../../images/bg30.jpg);
    background-color: yellow;
    border: 2px solid green;
  }
}

@keyframes place60 {
  0% {
    top: 60%;
    left: 5%;
    background-image: url(../../images/shirt.jpg);
    background-size: cover;
    border: none;
  }

  33% {
    top: 20%;
    left: 27%;
    rotate: 1 2 1 180deg;
    background-color: yellow;
    border: 2px solid green;
    background-image: url(../../images/bg60.jpg);
  }

  66% {
    top: 60%;
    left: 58%;
    rotate: 0 0 0 180deg;
    background-image: url(../../images/shirt.jpg);
    background-size: cover;
    border: none;
  }

  100% {
    top: 20%;
    left: 75%;
    rotate: 1 2 1 180deg;
    background-image: url(../../images/bg60.jpg);
    background-color: yellow;
    border: 2px solid green;
  }
}

@keyframes place90 {
  0% {
    top: 10%;
    left: 5%;
    background-image: url(../../images/shirt.jpg);
    background-size: cover;
    border: none;
  }

  33% {
    top: 30%;
    left: 75%;
    rotate: 1 2 1 180deg;
    background-color: yellow;
    border: 2px solid green;
    background-image: url(../../images/bg120.jpg);
  }

  66% {
    top: 60%;
    left: 5%;
    rotate: 0 0 0 180deg;
    background-image: url(../../images/shirt.jpg);
    background-size: cover;
    border: none;
  }

  100% {
    top: 75%;
    left: 75%;
    rotate: 1 2 1 180deg;
    background-image: url(../../images/bg120.jpg);
    background-color: yellow;
    border: 2px solid green;
  }
}
