.animation {
  position: relative;
  width: 100%;
  height: 90vh;
}

.png_static {
  position: absolute;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.mitsubishi {
  width: 130px;
  top: 10%;
  left: 15%;
  animation-delay: 500ms;
  animation-name: allCars;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 15%;
    width: 200px;
  }

  @media screen and (min-width: 1200px) {
    left: 20%;
    width: 200px;
  }
}

@keyframes allCars {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.bmw {
  width: 130px;
  top: 11%;
  left: 57%;
  animation-delay: 700ms;
  animation-name: allCars;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 58%;
    width: 200px;
  }

  @media screen and (min-width: 1200px) {
    left: 60%;
    width: 200px;
  }
}

.audi {
  width: 130px;
  top: 40%;
  left: 65%;
  animation-delay: 900ms;
  animation-name: allCars;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 68%;
    width: 200px;
  }

  @media screen and (min-width: 1200px) {
    left: 71%;
    width: 200px;
  }
}

.ferrari {
  width: 150px;
  top: 74%;
  left: 57%;
  animation-delay: 1100ms;
  animation-name: allCars;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 58%;
    width: 220px;
  }

  @media screen and (min-width: 1200px) {
    left: 60%;
    width: 220px;
  }
}

.mercedes {
  width: 130px;
  top: 75%;
  left: 15%;
  animation-delay: 1300ms;
  animation-name: allCars;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 15%;
    width: 200px;
  }

  @media screen and (min-width: 1200px) {
    left: 20%;
    width: 200px;
  }
}

.citroen {
  width: 130px;
  top: 39%;
  left: 2%;
  animation-delay: 1500ms;
  animation-name: allCars;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 5%;
    width: 200px;
  }

  @media screen and (min-width: 1200px) {
    left: 7%;
    width: 200px;
  }
}
