.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 20px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  width: calc((100% - 10px) / 2);
  margin-bottom: var(--default-interval);
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: var(--default-color);
}

.field {
  flex-basis: calc((100% - 10px) / 2);
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.errorValidation {
  color: red;
}
