.cardPage {
  height: 100vh;
  min-height: 480px;
  width: 100vw;
  background-image: url(../../images/cards-page-bg-mobile.jpg);
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: url(../../images/cards-page-bg-tablet.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../../images/cards-page-bg.jpg);
  }
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-left: var(--default-interval);
  padding-right: var(--default-interval);

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

@keyframes place {
  0% {
    top: -100%;
    left: -100%;
  }

  20% {
    top: 50%;
    left: 50%;
    box-shadow: 15px 15px 15px red, -15px 15px 15px red, -15px -15px 15px red,
      15px -15px 15px red;
    transform: translate(-50%, -50%);
  }

  80% {
    top: 50%;
    left: 50%;
    box-shadow: 15px 15px 15px red, -15px 15px 15px red, -15px -15px 15px red,
      15px -15px 15px red;
    transform: translate(-50%, -50%);
  }

  100% {
    top: -200%;
    left: 195%;
  }
}

.gameOver {
  width: 230px;
  color: red;
  font-size: var(--max-font-size);
  font-weight: 600;
  background-color: greenyellow;
  border-radius: 10px;
  position: absolute;
  animation-name: place;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  padding-left: var(--default-interval);
  padding-right: var(--default-interval);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    font-size: var(--max-font-size);
    font-weight: 600;
  }
}

.totalScore {
  color: var(--default-color);
  font-weight: 500;
  text-align: center;
  font-size: var(--min-font-size);
  margin-bottom: var(--default-interval);

  @media screen and (min-width: 768px) {
    font-size: var(--middle-font-size);
    font-weight: 600;
  }
}

.finalScore {
  width: 100%;
  text-align: center;
}

.buttonsShowResults {
  display: flex;
  justify-content: flex-start;
}
