.carInfoShirt {
  color: blue;
  width: 300px;
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.mainInfo {
  display: flex;
  margin-bottom: 10px;
  font-size: var(--max-font-size);
  color: blueviolet;
}

.mainInfo p:not(:last-child) {
  display: flex;
  margin-right: 5px;
}

.priceInfo {
  font-size: var(--max-font-size);
  margin-bottom: 10px;
  color: green;
}

.iconInfo {
  margin-right: 5px;
  fill: orangered;
  stroke: orangered;
}

.detailInfo {
  display: flex;
}

.detailInfo ul:not(:last-child) {
  margin-right: 20px;
}

li {
  display: flex;
  align-items: center;
}

.infoPart_1 li:not(:last-child),
.infoPart_2 li:not(:last-child) {
  margin-bottom: 15px;
}
