.favoritePage {
  height: 100vh;
  min-height: 480px;
  /* background-image: url(../../images/cards-page-bg-mobile.jpg);
  background-size: cover; */
  padding-top: 10px;
}

.carList {
  list-style: none;
}
