.favoritePage {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
}

.carList {
  list-style: none;
}

.messageNotItems {
  color: var(--no-items-color);
  text-align: center;
}

.titlePage {
  font-size: var(--middle-font-size);
  font-weight: var(--middle-font-weight);
  text-align: center;
  text-transform: uppercase;
  margin: 5px auto;
  text-decoration: underline;
  color: var(--headline-page-color);

  @media screen and (min-width: 768px) {
    font-size: 25px;
    font-weight: 700;
  }
}
