.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--default-color);
  background: radial-gradient(
    circle,
    rgba(23, 33, 168, 1) 64%,
    rgba(138, 148, 198, 1) 100%
  );
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marginRight10 {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.linkFavorite,
.linkUser {
  fill: var(--default-color);
  stroke: var(--default-color);
}

.userFavoriteIcon {
  cursor: pointer;
  margin-right: 10px;
  fill: inherit;
}

.userIcon {
  cursor: pointer;
  margin-right: 10px;
  stroke: inherit;
}

[aria-current] {
  color: red;
  font-weight: 700;
  fill: red;
  stroke: red;
}

.userIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: var(--default-color);
}

.userName {
  display: inline;
  font-size: var(--middle-font-size);
  color: var(--default-color);
  font-weight: 700;
  margin-right: var(--default-interval);
}

.addCar {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  color: var(--default-color);
}

.addCar:hover {
  cursor: pointer;
}

.header_buttons {
  display: flex;
  align-items: center;
}
