.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marginRight10 {
  margin-right: 10px;
}

.link.active {
  color: red;
}

[aria-current] {
  color: red;
  font-weight: 700;
}

.userIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: var(--default-color);
}

.userName {
  display: inline;
  font-size: var(--middle-font-size);
  color: var(--default-color);
  font-weight: 700;
  margin-right: var(--default-interval);
}

.userFavorite {
  cursor: pointer;
  margin-right: 10px;
}

.addCar {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  color: var(--default-color);
}

.addCar:hover {
  cursor: pointer;
}
