.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userName {
  display: inline;
  font-size: var(--middle-font-size);
  color: var(--default-color);
  font-weight: 700;
  margin-right: var(--default-interval);
}

.userFavorite {
  cursor: pointer;
  margin-right: 10px;
}
