.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
}

.label {
  background-color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 70%;
  margin-bottom: var(--default-interval);
  font-size: 15px;
  line-height: 1.12;
  font-weight: 500;
  padding: 2px 10px;
}

.label:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}
