.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: 0, 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border-radius: 10px;
  width: 300px;
  padding-bottom: 5px;
  background-image: url(../../images/cards-blank-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    width: 400px;
  }
}

.closeModalIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--default-color);
}

.closeModalIcon:hover,
.closeModalIcon:focus {
  color: red;
  cursor: pointer;
}
