.homePage {
  padding-top: var(--default-interval);
}

.moveToCars {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  animation-name: border;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  padding: 5px;
  border-radius: 20px;
  border: 2px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

@keyframes border {
  0% {
    color: yellow;
  }
  100% {
    color: lime;
  }
}

.moveToCars:hover,
.moveToCars:focus {
  scale: 1.2;
}
